{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Dashboard</h4>
    <ul class="breadcrumbs">
      <li class="nav-home"><a href="#"><i class="flaticon-home"></i></a></li>
      <li class="separator"><i class="flaticon-right-arrow"></i></li>
      <li class="nav-item"><a href="#">Maps</a></li>
      <li class="separator"><i class="flaticon-right-arrow"></i></li>
      <li class="nav-item"><a href="#">Fire Incidents</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card card-transparent">
        <div class="card-header text-center">
          <h4 class="card-title">Fire Incident</h4>
          <p class="card-category">
            View incident locations on a responsive map.
            Powered by <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>.
          </p>
        </div>
        <div class="card-body">
          <div class="col-md-4 ml-auto mr-auto mb-4">
            <div class="form-group">
              <select id="city-select" class="form-control">
                <option value="">Select a city</option>
                {% for location in locations %}
                  <option value="{{ location.city }}">{{ location.city }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div id="map" style="width: 100%; height: 400px; box-shadow: 0 4px 16px rgba(0,0,0,0.2); border-radius: 10px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  const fireIconUrl = "{% static 'img/fire.png' %}";
  const locations = {{ locations|safe }};
  const map = L.map('map');
  const bounds = L.latLngBounds([]);
  const markers = [];

  const fireIcon = L.icon({
    iconUrl: fireIconUrl,
    iconSize: [60, 60],
  });

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  locations.forEach(function(location) {
    const latLng = [parseFloat(location.latitude), parseFloat(location.longitude)];
    const marker = L.marker(latLng, { icon: fireIcon }).addTo(map);
    const popupContent = `<b>${location.name}</b><br/>${location.city}<br/>Incidents: ${location.num_incidents}`;
    marker.bindPopup(popupContent);

    markers.push(marker);
    bounds.extend(latLng);
  });

  map.fitBounds(bounds);

  document.getElementById('city-select').addEventListener('change', function() {
    const selectedCity = this.value;
    const matchedMarkers = markers.filter(marker =>
      marker.getPopup().getContent().includes(selectedCity)
    );

    if (matchedMarkers.length > 0) {
      const group = L.featureGroup(matchedMarkers);
      map.fitBounds(group.getBounds());
      matchedMarkers.forEach(marker => marker.openPopup());
    } else {
      map.fitBounds(bounds);
      markers.forEach(marker => marker.closePopup());
    }
  });
</script>
{% endblock %}
